# Compiled class files
*.class

# Build folders
/bin/
/out/
/target/

# IDE/Editor
.vscode/
.idea/
*.iml

# Maven / Gradle
/.mvn/
/.gradle/
/build/

# Eclipse
.classpath
.project
.settings/

# Mac
.DS_Store

# Logs
*.log
